.card {
  width: 250px;
  height: 400px;
  background-color: var(--card-background-color);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px 3px var(--color-primario);
}

.imagenContainer {
  width: 250px;
  height: 180px;
  background-color: #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
}

.nombre {
  font-size: 18px;
  font-weight: 700;
  color: var(--card-nombre);
  margin-bottom: 4px;
  text-align: center;
}

.precio {
  font-size: 16px;
  font-weight: 700;
  color: var(--card-precio);
  margin-bottom: 4px;
}
.stock {
  font-size: 13px;
  color: var(--card-stock);
  font-weight: 700;
  margin-bottom: 12px;
}

.cantidadContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: var(--card-cant);
  font-weight: 700;
}

.qtyButton {
  background-color: var(--color-boton);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s;
}
