.container-acerca-de {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
}
.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
.container-terminos,
.container-preguntas,
.container-ayuda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-boton);
  padding: 20px 20px;
  border-radius: 8px;
}
.titulo-acercaDe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: -20px;
  color: var(--color-titulo);
}
.titulo-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 40px;
  color: var(--color-titulo);
}
.img-acerca-de {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.container-parrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 50vh;
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--card-background-color);
}
.parrafo-acerca-de {
  font-size: 20px;
  line-height: 1.2;
}
.btnFooter {
  background-color: var(--color-titulo);
  color: var(--card-background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .titulo-acercaDe {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .parrafo-acerca-de {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 5px;
  }
  .img-acerca-de {
    width: 80px;
    height: 80px;
    margin-top: -50px;
  }
}

@media (max-width: 768px) {
  .container-acerca-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titulo-acercaDe {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .img-acerca-de {
    width: 100px;
    height: 100px;
    margin-bottom: 113px;
  }
  .parrafo-acerca-de {
    font-size: 16px;
    line-height: 1.3;
  }
}
@media (max-width: 480px) {
  .container-acerca-de {
    height: 90vh;
    padding: 0 5px;
  }
  .container-terminos,
  .container-preguntas,
  .container-ayuda {
    width: 80%;
    padding: 0 5px;
  }

  .titulo-acercaDe {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .titulo-terminos {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
  .img-acerca-de {
    display: none;
  }
  .parrafo-acerca-de {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
