.containerAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  padding: 20px;
  box-sizing: border-box;
}
.title {
  font-size: 2.5rem;
  color: #f0f0f0;
  margin-bottom: 20px;
  text-align: center;
}
.navItem {
  padding: 10px;
  margin: 5px 20px;
  font-size: 1.6rem;
  color: var(--color-boton-oscuro);
}
.navItem:hover {
  color: var(--color-boton);
  transform: scale(1.05);
  transition: transform 0.3s, color 0.3s;
}
.navButton {
  color: var(--color-boton-oscuro);
  background-color: transparent;
  font-size: 1.6rem;
}
.navButton:hover {
  color: var(--color-boton);
  transform: scale(1.05);
  transition: transform 0.3s, color 0.3s;
}
.list {
  background-color: var(fondo-oscuro);
  gap: 10px;
}
.listItem {
  margin: 0 5px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.listItemImage {
  border-radius: 8px;
  object-fit: cover;
}
.editButton,
.deleteButton,
.addButton {
  background-color: var(--color-primario-oscuro);
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s, opacity 0.5s, ease-in-out;
}
.deleteButton {
  padding: 10px 10px;
}
.addButton {
  padding: 10px 20px;
  margin-top: 10px;
}
.addButton:hover {
  background-color: var(--color-primario-oscuro);
  transform: scale(1.05);
}
.editButton:hover {
  background-color: var(--color-primario-oscuro);
  transform: scale(1.05);
}
.deleteButton:hover {
  background-color: var(--color-primario-oscuro);
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .containerAdmin {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .containerAdmin {
    height: 120vh;
  }
}
@media (max-width: 576px) {
  .containerAdmin {
    height: 210vh;
  }
}
